* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #0a111b;
}

body {
    /* background-color: #d2cfdd; */
    overflow-x: hidden;
    background-image: url(../assets/example.jpg);
    background-size: 27rem;
}



@media (max-width: 670px) {
    .pc {
        display: none !important;
    }
    .mobile {
        display: inline !important;
    }
}
.pc {
    display: inline;
}
.mobile {
    display: none;
}

@font-face {
  font-family: mangaFont;
  src: url(assets/CCWildWords_Bold_Italic.ttf) format("truetype");
}
